@use '../../../../../scss/globals' as g;
@use '../../../../../scss/util' as u;
@use 'sass:math';

.card {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 0.5rem;
	padding: 2px;

	&__title {
		font-weight: bolder;
		font-size: u.rem(25);
	}

	&__list {
		display: flex;
		gap: 0.6rem;
		padding: 2px;
		overflow-x: auto;
		border-radius: u.rem(10);
	}

	&__poster {
		position: relative;
		min-width: u.rem(370);
		height: u.rem(200);
		flex-shrink: 0;
		border-radius: u.rem(3);
		cursor: pointer;
		transition: background-image 0.3s ease-out;
		background: var(--card-backdrop) center/cover no-repeat g.$clr-black;

		&:hover {
			transform: scale(1.05);
		}
	}
	&__logo {
		position: absolute;
		opacity: 0;
		width: u.rem(190);
		height: u.rem(130);
		bottom: u.rem(50);
		left: u.rem(40);
		background: var(--card-logo) center/contain no-repeat;

		transform: translateY(10px);
		transition:
			opacity 0.3s ease-out,
			transform 0.3s ease-out;

		&--loaded {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.card__title,
.card__list,
.card__poster {
	z-index: 60;
}

.logo-title {
	color: g.$clr-white;
	font-size: u.rem(25);
	font-weight: 700;
	text-shadow: u.rem(1) u.rem(1) u.rem(2) g.$clr-red;
	z-index: 90;
}
