@use '../../../scss/globals' as g;
@use '../../../scss/util' as u;

.header {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	padding-top: 0.5rem;
	transition: background-color 0.5s ease;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;

	&.header--trailer-playing {
		background-color: g.$clr-black;
	}

	&__logo {
		background: none;
		border: none;
		outline: none;
		cursor: pointer;

		&:focus,
		&:focus-visible,
		&:active,
		&:hover {
			outline: none !important;
			border: none !important;
			box-shadow: none !important;
		}

		img {
			outline: none;
			width: u.rem(118);

			@include u.breakpoint-down(medium) {
				width: u.rem(80);
			}

			@include u.breakpoint-down(small) {
				width: u.rem(60);
			}
		}
	}

	&__left-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: u.rem(40);

		@include u.breakpoint-down(small) {
			justify-content: flex-start;
			gap: 0;
		}
	}
	&__nav-list {
		display: flex;
		gap: 1.2rem;

		color: rgba(g.$clr-white, 80%);
		font-size: u.rem(14);
		list-style-type: none;
		font-weight: lighter;

		@include u.breakpoint-down(medium) {
			font-size: u.rem(12);
			gap: 0.8rem;
		}

		@include u.breakpoint-down(small) {
			font-size: u.rem(10);
			gap: 0.6rem;
		}

		li:nth-child(1) {
			color: g.$clr-white;
			font-weight: bolder;
		}

		li:hover {
			cursor: pointer;
			color: rgba(g.$clr-smokewhite, 50%);
			transition: 0.3s 0.1s ease-in;
		}

		li {
			@include u.breakpoint-down(medium) {
				display: none;
			}
		}
	}

	&__nav-mobile {
		display: none;
		position: relative;

		@include u.breakpoint-down(medium) {
			display: block;
			padding: 0.5rem;
			cursor: pointer;
		}

		span:nth-child(1) {
			color: g.$clr-white;
			font-size: u.rem(11);
		}

		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: stretch;

			width: u.rem(250);
			list-style-type: none;
			margin: 0;
			padding: 0;

			outline: 0.1rem solid #383838;
			border-top: 0.1rem solid white;
			background-color: rgba(g.$clr-black, 95%);

			position: absolute;
			top: u.rem(40);
			right: u.rem(-100);

			li {
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: u.rem(40);
				padding: u.rem(5);

				color: g.$clr-white;
				list-style: none;
				font-size: u.rem(12);
				font-weight: lighter;
				transition: 0.2s 0.1s ease;

				&:hover {
					cursor: pointer;
					background-color: rgba(g.$clr-gray, 2%);
				}

				&:nth-child(1) {
					font-weight: bolder;
				}
			}
		}

		.mobile-caret::after {
			position: absolute;
			right: u.rem(12);
			top: u.rem(25);

			content: '▾';
			font-size: u.rem(20);
			color: g.$clr-white;
			transform: rotate(180deg);
		}
	}

	&__right-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		@include u.breakpoint-down(small) {
			gap: 0.4rem;
		}

		.item {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			gap: 0.4rem;

			img {
				width: 2.3rem;
				height: auto;
				border-radius: 0.3rem;

				@include u.breakpoint-down(small) {
					width: 1.8rem;
				}
			}

			&--kids {
				color: g.$clr-white;
				font-size: u.rem(15);
				text-decoration: none;

				@include u.breakpoint-down(medium) {
					display: none;
				}
			}

			button {
				background-color: transparent;
				border: none;

				&:hover {
					cursor: pointer;
				}
			}

			&:nth-child(1) {
				@include u.breakpoint-down(small) {
					display: none;
				}
			}

			#search-input {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				outline: 1px solid g.$clr-white;
				padding: 0.3rem;
				overflow: hidden;

				animation: expandWidth 0.3s ease-out forwards;

				input {
					background-color: transparent;
					color: g.$clr-smokewhite;
					padding: 0.3rem;
					border: none;
					width: 200px;
					min-width: 0;

					&:focus {
						outline: none;
					}
				}
			}

			&__settings {
				position: absolute;
				background-color: g.$clr-black;
				width: u.rem(220);
				top: 3.5rem;
				right: 1rem;
				padding: 0.8rem;

				outline: 1px solid #2b2b2b;
				color: g.$clr-white;
				transform: translateY(-10px);
				animation: slideIn 0.2s ease-out forwards;

				.profile__caret {
					position: absolute;
					top: u.rem(-20);
					right: u.rem(12);
					transform: rotate(180deg);
					font-size: u.rem(22);

					&::after {
						content: '▾';
					}
				}

				.profiles {
					display: flex;
					flex-direction: column;
					position: relative;

					a {
						font-size: 0.8rem;
						&:hover {
							text-decoration: underline;
						}

						@include u.breakpoint-down(small) {
							font-size: u.rem(10);
						}
					}

					&__item {
						display: flex;
						align-items: center;
						margin-bottom: 0.7rem;
						gap: 1rem;

						a {
							color: g.$clr-white;
							font-size: u.rem(11);
							font-weight: lighter;
							text-decoration: none;
						}
					}

					.profile__settings {
						display: flex;
						align-items: center;
						gap: 0.5rem;
						margin-top: 0.7rem;

						a {
							color: g.$clr-white;
							font-size: u.rem(11);
							font-weight: lighter;
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}
					}

					.separator {
						width: 100%;
						height: 0.1rem;
						background-color: rgba(g.$clr-gray, 50%);
						margin-top: 1.5rem;
					}

					.signout {
						text-align: center;
						margin-top: 1rem;
						a {
							color: g.$clr-white;
							text-decoration: none;
						}
					}
				}

				@keyframes slideIn {
					from {
						opacity: 0;
						transform: translateY(-10px);
					}
					to {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}

			@keyframes expandWidth {
				from {
					width: 30px;
				}
				to {
					width: 250px;
				}
			}

			.caret-down {
				&::after {
					content: '▾';
					transition: transform 0.3s ease;
					display: inline-block;
					font-size: u.rem(15);
					margin-right: u.rem(45);
				}
			}

			&:hover .caret-down::after {
				transform: rotate(180deg);
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	@include u.breakpoint-down(small) {
		padding: 0.5rem 0;
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		gap: 1rem;
	}
}
