@use '@/scss/globals' as g;
@use '@/scss/util' as u;

.main {
	display: flex;
	flex-direction: column;
	gap: u.rem(70);

	@include u.breakpoint-down(medium) {
		gap: u.rem(15);
	}

	@include u.breakpoint-down(small) {
		gap: u.rem(-10);
	}
}
