@use '../../scss/globals' as g;
@use '../../scss/util' as u;

.billboard {
	background: url('../../assets/Billboard/billboard.webp') center/cover
		no-repeat;
	height: 100vh;
	position: relative;

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0;
		animation: fadeInVideo 1s ease-in-out 0.5s forwards;
	}

	@keyframes fadeInVideo {
		from {
			opacity: 0;
			transform: scale(1.05);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 75%;
	}

	&__title {
		width: u.rem(700);
		z-index: 50;

		&:hover {
			outline: none;
		}

		&[data-state='small'] {
			transition: 0.8s 0.4s ease-out;
			transform: scale(0.7);
		}
	}

	&__description {
		z-index: 50;
		color: g.$clr-white;
		font-size: u.rem(23);
		font-weight: 500;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
		max-width: 50ch;
		transition: opacity 0.8s 0.4s ease-out, visibility 0.8s 0.4s ease-out;

		&[data-state='small'] {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		z-index: 50;

		.left-items {
			display: flex;
			gap: 0.8rem;

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 0.3rem;
				border: 1px solid g.$clr-black;
				gap: 0.5rem;
				padding: 0.5rem;

				font-weight: bold;
				font-size: u.rem(16);
				font-family: 'Netflix Sans', Arial, Helvetica, sans-serif;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.right-items {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1.5rem;
		}
	}
}

.left-items > button:nth-child(1) {
	width: 6rem;
	background-color: g.$clr-white;
}

.left-items > button:nth-child(2) {
	width: 9rem;
	background-color: rgba(g.$clr-white-30-opacity, 55%);
	border-radius: 0.3rem;
	color: g.$clr-white;
	border: none;

	&:hover {
		background-color: rgba(g.$clr-white-30-opacity, 35%);
	}
}

.right-items > button {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0.6rem;
	border-radius: 100%;
	background-color: transparent;
	font-weight: bolder;
	border: 1px solid g.$clr-white;

	&:hover {
		cursor: pointer;
		background-color: rgba(g.$clr-white, 20%);
	}
}

.rating {
	display: flex;
	align-items: center;
	border-left: 3px solid g.$clr-white;
	width: u.rem(120);
	height: 100%;
	padding: 0.2rem;

	background-color: rgba(g.$clr-black, 70%);
	color: g.$clr-white;
	font-size: u.rem(20);
	font-weight: bold;

	span {
		margin-left: 10px;
	}
}
