@use '@/scss/globals' as g;
@use '@/scss/util' as u;
@use 'sass:math';

.card {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	gap: 0.5rem;
	padding: u.rem(2);
	overflow-y: hidden;
	min-height: u.rem(200);

	&__title {
		font-weight: bolder;
		font-size: u.rem(30);
		color: g.$clr-white;
		z-index: 60;

		@include u.breakpoint-down(medium) {
			font-size: u.rem(19);
		}
		@include u.breakpoint-down(small) {
			font-size: u.rem(15);
		}
	}

	&__list {
		display: flex;
		position: relative;
		gap: 0.6rem;
		padding: 2px;
		overflow-x: hidden;
		border-radius: u.rem(10);

		&--left-caret,
		&--right-caret {
			display: flex;
			align-items: center;
			position: absolute;
			height: u.rem(202);
			z-index: 60;
			padding: 0 u.rem(10);
			background-color: transparent;
			top: u.rem(49);
			opacity: 0;
			border: none;

			&:hover {
				opacity: 1;
				cursor: pointer;
				background-color: rgba(g.$clr-black, 50%);
			}
		}

		&--left-caret {
			left: 0;
			transform: rotate(180deg);
		}

		&--right-caret {
			right: 0;
		}
	}

	&__poster {
		background: var(--card-backdrop) center/cover no-repeat g.$clr-black;
		position: relative;
		min-width: u.rem(320);
		height: u.rem(160);
		flex-shrink: 0;
		border-radius: u.rem(3);
		cursor: pointer;
		transition: background-image 0.3s ease-out;

		&:hover {
			transform: scale(1.05);
		}
	}
	&__logo {
		position: absolute;
		opacity: 0;
		width: u.rem(160);
		height: u.rem(120);
		bottom: u.rem(40);
		left: u.rem(40);
		background: var(--card-logo) center/contain no-repeat;

		transform: translateY(u.rem(10));
		transition:
			opacity 0.3s ease-out,
			transform 0.3s ease-out;

		&--loaded {
			opacity: 1;
			transform: translateY(0);
		}

		.logo-title {
			position: absolute;
			top: u.rem(10);
			color: g.$clr-white;
			font-size: u.rem(20);
			font-weight: 700;
			text-shadow: u.rem(1) u.rem(1) u.rem(2) g.$clr-red;
			z-index: 90;
		}
	}
}

.card_title,
.card__list,
.card__poster {
	z-index: 60;
}
