@use '@/scss/globals' as g;
@use '@/scss/util' as u;

.skeleton {
	display: flex;
	gap: u.rem(16);
	border-radius: u.rem(8);

	&__card {
		position: relative;
		overflow: hidden;
		min-height: u.rem(200);
		width: u.rem(300);
		background-color: g.$clr-black;
		border-radius: u.rem(8);

		&__shimmer {
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;

			background: linear-gradient(
				90deg,
				transparent,
				rgba(255, 255, 255, 0.2),
				transparent
			);
		}
	}
}
