@use 'fonts';
@use 'colors' as c;

*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: c.$clr-black;
	font-family: 'Netflix Sans', Arial, Helvetica, sans-serif;
}
